    <script type="text/javascript">

        $(document).ready(function () {

            function PaymillResponseHandler(error, result) {

                if (error) {

                    // Zeigt den Fehler überhalb des Formulars an
                    $(".payment-errors").text(error.apierror);


                } else {
                    $(".payment-errors").text("");

                    var form = $("#new_ccpayment");

                    // Token
                    var token = result.token;

                    // Token in das Formular einfügen damit es an den Server übergeben wird
                    $('#ccpayment_paymill_card_token').val(result.token)

                    form.get(0).submit();
                }

                $(".submit-button").removeAttr("disabled");
            }

            $("#new_ccpayment").submit(function (event) {

                // Absenden Button deaktivieren um weitere Klicks zu vermeiden
                $('.submit-button').attr("disabled", "disabled");

                if (false == paymill.validateCardNumber($('.card-number').val())) {
                    $(".payment-errors").text("Carte invalable");
                    $(".submit-button").removeAttr("disabled");
                    return false;
                }

                if (false == paymill.validateExpiry($('.card-expiry-month').val(), $('.card-expiry-year').val())) {
                    $(".payment-errors").text("Date d'expiration invalable");
                    $(".submit-button").removeAttr("disabled");
                    return false;
                }

                paymill.createToken({
                    number:$('.card-number').val(),
                    exp_month:$('.card-expiry-month').val(),
                    exp_year:$('.card-expiry-year').val(),
                    cvc:$('.card-cvc').val(),
                    cardholdername:$('.card-holdername').val(),
                    amount:$('.amount').val(),
                    currency:$('.currency').val()
                }, PaymillResponseHandler);

                return false;
            });
        });

    </script>


<div class="main-row">
  <div class="row">
    <div class="span3">
      <h3>PAIEMENT</h3>
    </div>
    <div class="span9">
      <p class="lead">Nous acceptons les paiements par carte Visa ou MasterCard.</p>
    </div>
  </div>
</div>
    
<div class="payment-errors"></div>
<div class="main-row">
    <div class="row">
<!--<form id="payment-form" action="/ccpayments" method="POST">-->
        <div class="span3">
            <%= form_for @ccpayment do |f| %>

                <div class="form-row"><label>Numéro de Carte</label>
                    <input class="card-number" type="text" size="20"/></div>

                <div class="form-row"><label>Code CVV</label>
                    <input class="card-cvc" type="text" size="4"/></div>

                <div class="form-row"><label>Nom du titulaire</label>
                    <input class="card-holdername" type="text" size="20"/></div>

                <div class="form-row"><label>Date d'expiration (MM/YYYY)</label>
                    <input class="card-expiry-month input-mini" type="text"/>
                
                <%= f.hidden_field :order_id %>

                    <input class="card-expiry-year input-small" type="text"/></div>

                <%=f.hidden_field :paymill_card_token %>

                <!--<input id="ccpayment_paymill_card_token" name="ccpayment[paymill_card_token]" type="hidden">-->

                <div class="actions">
                    <%= f.submit "Payer", :class => "btn btn-large" %>
                </div>
            <% end %>
        </div>
        <div class="span9">
            <p class="lead">Votre commande sera finalisée dès que vous cliquez sur "Payer". Une fois le paiement accepté, vous recevrez un courrier électronique contenant le code QR qui vous donne accès au concert.</p>
            <p class="lead">Tous les paiements sont traités de manière sécurisée par le système <a href="www.paymill.com">Paymill</a> </p>
        </div>
    </div>
</div>
<!--</form>-->
</div>


