<thead>
			<tr>
				<th>Catégorie de membre</th>
				<th>Avantage</th>
			</tr>
		</thead>
	<tr>
		<td class="span3"><h3><%=@order.membership.name%></h3></td>
		<td class="span1"><h3><%=@order.membership.avantage%></h3></td>
	<tr>