<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

<div class="container">

  <div class="main-row">
    <h3>Information de payement</h3>
    <p class="lead">Inclure ici les consignes pour les paiements bancaires</p>
  </div>

</div>

  </body>
</html>

