<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

<div class="container">

  <div class="main-row">
    <h3>Votre commande</h3>
    <p class="lead">Vous recevrez prochainement un deuxième e-mail contenant votre facture et les coordonnées bancaires pour le paiement de celle-ci. Ce n'est qu'une fois que votre facture est payée, que vous recevrez vos billets</a></p>
    <p class="lead">En cas de problème, n'hésitez pas à contacter <a>billetterie@musicales-tannay.ch</a></p>
  </div>

</div>

  </body>
</html>

