<% provide(:title, 'Programme 2015') %>
  <div class="main-row">
    <div class="row">
      <div class="span3">
         <h3>PROGRAMME 2016</h3>
      </div>
      <div class="span9">
        <p class="lead">C'est avec grand plaisir que nous vous proposons les concerts suivants pour l'édition 2016 des Variations Musicales de Tannay. Vous pouvez acheter vos billets à la <%=link_to('billetterie.', 'billetterie')%></p>        
      </div>
    </div>
  	<div class="row sub-row">
      <div class="span3">
      </div>
      <div class="span9">
        <h4 class="red date">Vendredi 19 août, à 20h</h4>
        <h3>Romain Leleu, trompette, et l’Ensemble Convergence</h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="unstyled">
                <li>
                    <b>Avec des œuvres de Joseph Kosma, Astor Piazzolla, Joaquin         Turina, Grigoras Dinicu, Benjamin Britten, Carlos Jobin, Ennio Morricone et Manuel Doutreland</b>
                </li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>
    <div class="row sub-row">
      <div class="span3">
      </div>
      <div class="span9">
        <h4 class="red date">Samedi 20 août, à 18h30</h4>
        <h3>Ufuk et Bahar Dördüncü, duo piano, à Gland, concert à la plage</h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="unstyled">
                <li>
                  <b>J.Brahms: danses hongroises pour 4 mains</b>
                </li>
                <li>
                  Ravel: «Ma Mère l’oie»
                </li>
                <li>
                  <b>Brahms: variations sur un thème de Haydn (2 pianos)</b>
                </li>
                <li>
                  Lutoslawski: variations sur un thème de Paganini (2pianos)
                </li>
                <li>
                  <b>Rachmaninov: suite no.2</b>
                </li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>
    <div class="row sub-row">
      <div class="span3">
      </div>
      <div class="span9">
        <h4 class="red date">Dimanche 21 août, à 17h</h4>
        <h3>Vadim Repin, violon, Alexandre Kniazev, violoncelle, Andrei Korobienikov, piano</h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="unstyled">
                <li>
                  <b>Rachmaninov: trio élégiaque no.1</b>
                </li>
                <li>
                  Brahms: trio no.2 en do majeur op.87
                </li>
                <li>
                  <b>Tchaikovsky: trio à la mémoire d’un grand artiste op.50</b>
                </li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>
    <div class="row sub-row">
      <div class="span3">
      </div>
      <div class="span9">
        <h4 class="red date">Jeudi 25 août, à 19h30</h4>
        <h3>Renaud Capuçon, violon et l’Orchestre de Chambre de Bâle</h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="unstyled">
                <li>
                  <b>Bach (1685-1750): concerto pour violon en mi majeur (BWV 1042) (12’)</b>
                </li>
                <li>
                  F.Martin (1890-1974): «Polyptique» pour violon et orchestre (9’40)
                </li>
                <li>
                  <b>R.Strauss (1864-1949): «Metamorphoses» pour 23 cordes</b>
                </li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>
    <div class="row sub-row">
      <div class="span3">
      </div>
      <div class="span9">
        <h4 class="red date">Vendredi 26 août, à 20h. Soirée des jeunes talents</h4>
        <h3>Estelle Revaz, avec l’Orchestre du festival, sous la direction de Jonathan        Haskell</h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="unstyled">
                <li>
                  <b>Beethoven: ouverture d’Egmont</b>
                </li>
                <li>
                  Schumann: concerto pour violoncelle et orchestre en la min. op.129
                </li>
                <li>
                  <b>St.-Saens: «Le Cygne»</b>
                </li>
                <li>
                  Beethoven: symphonie no.2
                </li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>
    <div class="row sub-row">
      <div class="span3">
      </div>
      <div class="span9">
        <h4 class="red date">Samedi 27 août, à 16h30. Concert gratuit à l'intention des enfants et des familles</h4>
        <h3>Mendelssohn: le songe d’une nuit d’été. Avec orchestre, solistes, narrateur et chœur d’enfants, sous la direction d'Ahmed Hamdy</h3>
        <div class="span8 offset1">
          <div class="music">
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>
    <div class="row sub-row">
      <div class="span3">
      </div>
      <div class="span9">
        <h4 class="red date">Dimanche 28 août, à 17h</h4>
        <h3>Renaud Capuçon, violon, David Kadouch, piano et Edgar Moreau, violoncelle</h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="unstyled">
                <li>
                  <b>Schubert: sonate Arpeggione pour violoncelle et piano, en la min. D821</b>
                </li>
                <li>
                  Ravel: sonate pour violon et piano, en sol majeur
                </li>
                <li>
                  <b>Brahms: trio pour piano, violon et violoncelle, no.1 op.8</b>
                </li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>
  </div>