								<p>body_test</p>
								<%@seats=Seat.all%>
								<%concert=7%>
								<% @seats.where('concert_id=?',7).each do |seat| %>
									<%if seat.reservation.nil? == true %>
										<%= render partial: 'selection', :locals => {seat: seat}%>
									<% elsif seat.reservation.order_id == @order.id %>
										<%= render partial:  'unselection', :locals => {seat: seat}%> 
									<% else %>
										<button class="btn btn-mini disabled"><%=seat.id%></button>
									<% end %>
								<%end%>