<% if seat.nil?%>
	<% current_seat=""%>
<% elsif (seat.id % 25)==0%>
	<% current_seat=25%>
<% else %>
	<% current_seat= (seat.id%25) %>
<%end %>

<%=form_tag({controller: "reservations", action: "custom"}, remote: true, method: "post")%>
<%=hidden_field_tag(:seat_id,"", :class => "seat_id")%>
<%=submit_tag "#{current_seat}", class: "btn btn-primary btn-mini", id:"button", onclick: "getdiv(this)"%>
</form>