<% provide(:title, "L'association") %>
  <div class="title-row">
    <div class="row">
      <div class="span6">
         <h3>ARTHUS PIANO TRIO</h3>
      </div>
      <div class="span6">
        <p class="lead">Dimanche 26 août, 17h. concert à la Fondation Engelberts</p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span6">
        <ul class="thumbnails">
          <li class="span6">
            <img src="http://www.musicales-tannay.ch/uploads/images/Gallery/2012_artistes/1_ArtHuS_trio.jpeg">
          </li>
        </ul>
      </div>
      <div class="span6">
        <p>Depuis sa création en 2010, le ArtHuS Piano Trio, réunit la violoniste suisse Simone Flückiger, le violoncelliste suisse Arthur Guignard et la pianiste coréenne Hunju Sohn, jeunes musiciens unis par la même passion de la musique de chambre et du travail d’ensemble. Le trio a déjà donné de nombreux concerts en Suisse, son répertoire s’étend du classique à la musique moderne. Le ArtHuS Trio est régulièrement invité par la Fondation Engelberts à Mies. Il a un projet d’enregistrement en cours.
        </p>
        <h4>Simone Flükiger</h4>
        <p>Née à Boston, elle passe son enfance en Allemagne, où elle débute le violon à six ans. En Suisse, après une maturité latine, elle étudie avec Patrick Genet à la Haute Ecole de Musique de Genève où elle obtient un diplôme d’enseignement, un diplôme de concert et le prix Pierre Fernex. Son chemin la mène ensuite à Londres, à la Guildhall School of Music and Drama. Elle obtient le Master’s Degree of Music en 2005 et le prix de musique de chambre en 2006. Après sa rencontre avec le professeur Stephan Picard de la ‘’Hochschule für musik Hanns Eisler’’, elle part étudier une année à Berlin. Elle joue ponctuellement dans l’Orchestre de la Suisse Romande, ainsi que dans l’Orchestre de la Radio de Berlin avec lequel elle vient d’effectuer une tournée d’un mois au Japon et en Corée. Elle est membre de plusieurs groupes de musique de chambre. Elle s’est produite aussi en soliste en 2011 dans le Triple concerto de Beethoven à Lausanne et à Genève.
        Elle joue sur un instrument de Gaetano Antoniazzi (Milan 1892)</p>
        <h4>Arthur Guignard</h4>
        <p>Né à Genève en 1979 de parents musiciens, il commence le violoncelle à 8 ans. Dès l’âge de 12 ans, il étudie avec Stefan Riekhoff violoncelle solo de l’OSR). Quelques années plus tard, il entre dans la classe de Daniel Grosgurin à la Haute Ecole de Musique de Genève. Il y obtient son diplôme d’études supérieures et son diplôme de concert.
        Parallèlement, il s’est perfectionné lors de master classes auprès de Maîtres tels que Arto Noras, Julius Berger, Antonio Meneses, Janos Starker, Enrico Dindo et Làszlò Mezö, et il a gagné des bourses pour des festivals prestigieux aux USA (Eastern Music Festival et Bowdoin Music Festival).
        Arthur Guignard est lauréat de plusieurs prix, notamment au concours des Jeunesses musicales suisses, au concours international Leopold Bellan à Paris. En 2011, il remporte le premier prix à l’unanimité de la European Music Competition of Moncalieri en Italie, avec la pianiste Roh Fei Tong.
        Il a joué en soliste, à de nombreuses reprises, avec Arcus Caeli, et son interprétation du concerto de Saint-Saëns avec l’Orchestre des Nations Unies, sous la direction d’Antoine Marguier, a remporté un vif succès. Arthur Guignard est invité à jouer régulièrement dans l’Orchestre de Chambre de Lausanne et dans l’Orchestre de la Suisse Romande. Il enseigne le violoncelle et la musique de chambre au Studio Kodaly à Genève depuis octobre 2010. Il est membre du ArtHuS Piano Trio depuis 2010.
        Arthur Guignard joue sur un violoncelle napolitain Tomaso Eberle de 1775.</p>
        <h4>Hunju Sohnn</h4>
        <p>Pianiste coréenne, Hunju Sohnn s’est produite en soliste et en musique de chambre dans de nombreux pays, tels que les Etats-Unis, la Corée du Sud, la Thaïlande, le Costa Rica, l’Angleterre, l’Allemagne, la France et la Suisse, notamment avec l’Orchestre Philharmonique de Lawton (Etats-Unis), en tant que finaliste du Concours International de Musique McMahon.Très appréciée pour ses qualités d’accompagnatrice et de chambriste, Hunju Sohnn a souvent été invitée à se produire avec différents instrumentistes, ainsi que dans des master classes d’artistes de renommée mondiale, tels que Kyung-Wha Chung, Nobuko Imai, Kim Kashkashian, Yuri Bashmet, Thomas Riebl et Yo-Yo Ma. Elle est régulièrement invitée au festival de Verbier.</p>
      </div>
    </div>
  </div>
</div>
</div>