<% provide(:title, "L'association") %>
  <div class="main-row">
    <div class="row">
      <div class="span3">
         <h3>L'ASSOCIATION</h3>
      </div>
      <div class="span9" align="justify">
        <p class="lead">L’association des Variations Musicales de Tannay a pour but de faciliter l’accès à la musique classique et de permettre à de jeunes artistes de se produire. Vous pouvez trouver <a href="/status">ses statuts ici</a></p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span3">
        <h3>VOTRE SOUTIEN</br>
        <small>Devenez amis des Variations Musicales de Tannay</small></h3>
      </div>
      <div class="span9" align="justify">
          <p class="lead">Si vous êtes intéressés à nous soutenir, vous pouvez rejoindre les amis des «Variations» en nous contactant à <%= mail_to("info@musicales-tannay.ch")%> ou par courrier à l’adresse suivante :</p>
          <address>
          <strong>Variations Musicales de Tannay</strong><br>
          case postale 19<br>
          1295 Tannay<br>
          <%=mail_to('info@musicales-tannay.ch')%>
          </address>
          <p class="lead">Vous pouvez également devenir membre en passant par la <%=link_to('billetterie', billetterie_path)%></p>
          <ul>
            <li>membre individuel : 50.- CHF</li>
            <li>membre bienfaiteur : 250.- CHF (avantage : 2 billets)</li>
            <li>membre grand donateur : dès 1'000.- CHF (accès libre au festival de l'année)</li>
            <li>membre entreprise : 500.- CHF (avantage : 4 billets)</li>
            <li>membre entreprise : 1'000.- CHF (avantage : 8 billets)</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="main-row" style="border-top:0px">
    <div class="row">
      <div class="span3">
         <h3>BÉNÉVOLAT</h3>
      </div>
      <div class="span9" align="justify">
        <p class="lead">Pour sa réussite, les Variations Musicales de Tannay comptent sur les compétences et l’enthousiasme de bénévoles. En échange ces derniers ont le plaisir de participer de près à cet événement et de vivre cette ambiance musicale tout à fait particulière.</p>
        <p class="lead">Pour les Variations Musicales de Tannay, nous avons besoin de bénévoles pour répondre aux souhaits des musiciens, pour accueillir le public, pour s’occuper de la billetterie, ou encore pour aider à mettre en place et démonter les tentes, chaises, et plus encore. Bien avant le week-end des concerts nous avons aussi besoin de bénévoles pour distribuer des circulaires ou encore poser des posters.</p>
        <p class="lead">Si cela vous tente de vous joindre à notre équipe, vous pouvez contacter notre responsable des bénévoles à l’adresse suivante : <%=mail_to("b.fournier@musicales-tannay.ch")%>. Merci d'indiquer vos disponibilités dans la période du 25 août au 1er septembre, mais aussi dans les semaines qui précèdent pour la distribution de circulaires. On vous attend en grand nombre.</p>
      </div>
    </div>
  </div>
</div>
</div>