<% provide(:title, "Conditions Générales de Vente") %>
  <div class="main-row">
    <div class="row">
      <div class="span3">
         <h3>Conditions Générales de Vente</br>
        <small>VARIATIONS MUSICALES DE TANNAY 6 JUIN 2013</small></h3>
      </div>
      <div class="span9" align="justify">
        <p class="lead">L’Acheteur est présumé avoir pris connaissance des présentes Conditions
Générales de Vente disponibles sur le site musicales-tannay.ch. L’acte de passer commande implique l’adhésion entière et sans réserve de l’acheteur à ces conditions générales de vente. Toute commande adressée par l’Acheteur emporte son adhésion sans restrictions ni réserves aux présentes conditions générales de vente. Le simple fait pour l’Acheteur de « cliquer » sur l’icône lui permettant de commander un billet en application des présentes conditions générales de vente, vaudra consentement irrévocable et définitif de la part du client sur toutes les dispositions figurant dans les conditions générales de ventes. 
</p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span3">
      </div>
      <div class="span9 offset3" align="justify">
        <h3>1. L’ACHETEUR</h3>
        <p>Désigne la personne qui effectue une commande auprès de l’Agent par les divers moyens mis à sa disposition par ce dernier et qui manifeste son consentement par toutes les formes autorisées par les présentes conditions générales. </p>
        <h3>2. ORGANISATEUR </h3>
        <p>Désigne l’Association des Variations Musicales de Tannay</p>
        <h3>3. OBLIGATIONS ENTRE LES PARTIES </h3>
        <p>Dans le cadre de la vente de billets, les présentes conditions générales n’ont d’effet qu’à l’égard de l’Acheteur ou l’Organisateur.</p>
        <h3>4. RÈGLES DE L'ORGANISATEUR EN MATIÈRE DE SÉCURITÉ ET D'EXÉCUTION </h3>
        <p>Par les présentes conditions générales, « L’Acheteur » reconnaît et accepte que les règles de l'Organisateur en matière de sécurité, d'accès et autres modalités d'exécution s’appliquent à lui-même ainsi qu'aux possesseurs des billets acquis par l'Acheteur sans restriction ni réserve. L’Acheteur reconnaît et accepte également qu'en cas de non-respect des dites règles, l’Organisateur se réserve le droit discrétionnaire d’exclure l’Acheteur ou le possesseur de l'un de ses billets de la manifestation. L’Acheteur déclare par les présentes conditions générales renoncer à toute indemnité, poursuite ou action en justice contre l’Organisateur. </p>
        <h3>5. RESPONSABILITÉ DE L’ACHETEUR</h3>
        <p>L’Acheteur est seul responsable de son billet. Il en assume l’entière responsabilité en cas de vol, perte ou fraude. L’Organisateur se réserve le droit de vérifier à tout moment et en toutes circonstances la validité du numéro de billet. En cas de fraude par l’Acheteur, l’Organisateur se réserve tous les droits de poursuites judiciaires. </p>
        <h3>6. REPORT DE LA MANIFESTATION </h3>
        <p>En cas de report ou de changement du lieu de l’évènement, pour quelque raison que ce soit, le billet reste valable pour la nouvelle date ou le nouveau lieu. </p>
        <h3>7. RESTITUTION OU ÉCHANGE DES BILLETS</h3>
        <p>La restitution ou l'échange d’un billet s’effectue auprès de l’Organisateur, uniquement en cas d’annulation de celui-ci</p>
        <h3>8. PROTECTION DES DONNÉES </h3>
        <p>L'Organisateur s'engage à traiter avec attention les données des acheteurs de billets et à respecter les dispositions sur la protection des données.</p>
        <p>L'Organisateur ne saisit, n'enregistre et ne traite que les données requises pour l'accomplissement de la facturation. L’ Organisateur est autorisé à transmettre les données personnelles de l'Acheteur uniquement pour l'exercice de ses fonctions.</p>
        <p>L’Organisateur prend à cet effet des mesures pour protéger son réseau. Une 
protection absolue, contre les interventions ou les écoutes illicites, ne peut toutefois pas être garantie, par conséquent la responsabilité de l’Organisateur ne saurait être engagée pour de telles ingérences. 
</p>
        <h3>9. INTERPRETATION </h3>
        <p>En cas de traduction des Conditions Générales dans d’autres langues, la version française fait foi. </p>
        <h3>10. FOR JURIDIQUE</h3>
        <p>Les présentes conditions générales de vente sont soumises au droit suisse. Faute de règlement amiable, tout litige sera porté devant le Tribunal du siège de l’Organisateur</p>
      </div>
    </div>
  </div>
</div>
</div>