<% provide(:title, "L'association") %>
  <div class="title-row">
    <div class="row">
      <div class="span6">
         <h3>L'ENSEMBLE INTERMEZZO</h3>
      </div>
      <div class="span6">
        <p class="lead">Dimanche 26 août, 17h. concert à la Fondation Engelberts</p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span6">
      </div>
      <div class="span6 offset6">
        <h4>Ahmed Hamdy</h4>
        <p>Né à Alexandrie, Ahmed Hamdy a accompli ses études musicales (violon et piano) au Conservatoire de musique du Caire. Après un perfectionnement en violon et musique de chambre à Mannheim de 1985 à 1988, il poursuit sa formation de violoniste au Conservatoire de Genève. Il étudie la composition et l’orchestration avec Jean Balissat et la direction d’orchestre auprès d’Arpad Gerecz. Ses études sont couronnées par un diplôme de capacité professionnelle de violon, ainsi que par un certificat d’études supérieures d’orchestration
        </p>
        <p>Shmed Hamdy dirige des orchestres ad hoc en Suisse et à l’étranger. Il occupe actuellement un poste de premier violon auprès de l’Orchestre de chambre de Genève. Après avoir conduit pendant de nombreuses années l’Ensemble vocal et instrumental de Rolle (EVIR), il est maintenant directeur musical de l'orchestre de chambre Da Capo - Nyon.</p>
        <p>Dans la cour du château de Tannay en 2009, il a dirigé Pierre et le Loup lors d’un concert pour les enfants. Il dirigera en 2012 L’Histoire de Babar le petit éléphant, mise en musique par Francis Poulenc, une des œuvres pianistiques les plus accomplies de ce compositeur, dans une interprétation orchestrale avec l’Ensemble Intermezzo et avec la participation du récitant Joan Mompart.</p>
      </div>
    </div>
  </div>
</div>
</div>