<% provide(:title, "Khatia et Gvantsa Buniatishvili") %>
  <div class="title-row">
    <div class="row">
      <div class="span6">
         <h3>KHATIA ET GVANSA BUNIATISHVILI</h3>
      </div>
      <div class="span6">
        <p class="lead">Dimanche 2 septembre 17h. dans le parc du château de Tannay</p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span6">
        <ul class="thumbnails">
          <li class="span6">
            <img src="http://www.musicales-tannay.ch/uploads/images/Gallery/2012_artistes/Khatia_Buniatishvili_internet-53.jpg">
          </li>
          <li class="span6">
            <img src="http://www.musicales-tannay.ch/uploads/images/Gallery/2012_artistes/Gvantsa-Buniatishvili.jpg">
          </li>
        </ul>
      </div>
      <div class="span6">
        <h4>Khatia Buniatishvili</h4>
        <p>D« Khatia Buniatishvili a tout pour plaire : un passé d’enfant prodige, des récompenses multiples, un port de reine, un sourire gourmand. Celle que beaucoup considèrent comme une nouvelle Martha Argerich est sans doute l’un des très grands talents que l’on peut entendre aujourd’hui »</p>
        <p>La pianiste géorgienne Khatia Buniatishvili est née le 21 juin 1987 à Tbilissi. Son talent est reconnu dès l’enfance, à six ans, elle s’est produite pour la première fois en soliste avec un orchestre. De 2000 à 2010, elle étudie à l'Université de Musique et d'Arts du spectacle à Vienne, auprès du pianiste russe Oleg Maisenberg.</p>
        <p>Très tôt elle sera régulièrement invitée à participer à divers festivals de musique, dont ceux de la Roque-d’Anthéron, de Gstaad et de Verbier, où elle joue soit en récital soit en tant que soliste, ainsi qu’au festival Progetto Martha Argerich à Lugano, sorte de laboratoire d’interprétation qui réunit une cinquantaine de jeunes talents et d’artistes de renom, désireux de faire partager leur art dans un cadre stimulant d’échanges.</p>
        <h4>Gvantsa Buniatishvili</h4>
        <p>Née à Tbilissi en 1986, Gvantsa Buniatishvili et sa sœur Khatia découvrent le piano dès leur plus jeune âge grâce à leur mère, passionnée de musique. Le quatre mains demeure l’une des activités favorites des deux sœurs.</p>
        <p>Gvantsa se produit très jeune en public, aussi bien en récital et en duo à quatre mains avec sa sœur Khatia qu’avec orchestre. Diplômée du Conservatoire de Tbilissi, elle s’est produite dans de nombreuses villes, notamment à Prague (Rudolfinum Concert Hall), Innsbruck (Villa Schindler), Genève, Zurich, Montreux, et Paris (Théâtre des Champs-Élysées). Les deux sœurs se sont distinguées au festival de La Roque d’Anthéron en 2011 et ont été invitées le 1er juin 2012 au Festival « Les solistes des Serres d’Auteuil » à Paris.</p>
        <iframe src="http://www.youtube.com/embed/YFRFgRm1BYE" frameborder="0" width="560" height="315"></iframe>
      </div>
    </div>
  </div>
</div>
</div>