<% provide(:title, "Nemanja Radulovic et Laure Favre-Kahn") %>
  <div class="title-row">
    <div class="row">
      <div class="span6">
         <h3>NEMANJA RADULOVIC ET LAURE FAVRE-KAHN AVEC CAMERATA MENUHIN</h3>
      </div>
      <div class="span6">
        <p class="lead">Samedi 1er septembre 20h.30 dans le parc du château de Tannay</p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span6">
        <ul class="thumbnails">
          <li class="span6">
            <img src="http://www.musicales-tannay.ch/uploads/images/Gallery/2012_artistes/3_Nemanja%20Radulovic_photo%C2%A9C.Doutre-TransArt_2011_0512%5B1%5D.jpg">
          </li>
          <li class="span6">
            <img src="http://www.musicales-tannay.ch/uploads/images/Gallery/2012_artistes/Laure-Favre-Kahn-Caroline-Doutre.jpg">
          </li>
        </ul>
      </div>
      <div class="span6">
        <h4>Nemanja Radulovic </h4>
        <p>« Plus qu’à ses prouesses techniques, ce brillant interprète doit sa renommée à sa capacité d’entrer en communion avec son public. Avec sa générosité et sa fougue, il conquiert la jeunesse. »</p>
        <p>Né en Serbie en 1985, Nemanja Radulovic commence ses études musicales en 1992 à Belgarde. En 1998, il poursuit ses études au Conservatoire de Musique de Saarbrücken, en Allemagne, dans la classe de Joshua Epstein puis, à partir de 1999, à la Faculté des Arts de Belgrade en section musique dans la classe de Dejan Mihailovic. En France, en septembre 2000, il est admis en cycle de perfectionnement au Conservatoire national supérieur de musique et de danse de Paris, dans la classe de Patrice Fontanarosa. Il a également participé à des master classes avec des maîtres de renom.</p>
        <p>Son talent est très vite reconnu. Dès son plus jeune âge il reçoit de nombreux prix internationaux : Concours Joachim de Hanovre, Concours Georges Enescu à Bucarest, Concours Stradivarius, Concours Menuhin, Concours Wieniawski-Lipinski. Après avoir été consacré ‘’Révélation internationale de l’année’’ en 2005 (il sera à nouveau nominé en 2012) lors des Victoires de la Musique classique, et consacré ‘’Rising Star ’’ pour la saison 2006-07, Nemanja Radulovic joue dans les plus grandes salles européennes parmi lesquelles le Concertgebouw d’Amsterdam, le Mégaron d’Athènes, la Cité de la Musique à Paris, le Palais des Beaux-Arts de Bruxelles, la Philharmonie de Cologne et le Carnegie Hall. En 2006, il remplace au pied levé Maxim Vengerov dans le Concerto de Beethoven donné à la salle Pleyel avec le Philharmonique de Radio France et Myung-Whun Chung.</p>
        <p>Il joue sur un violon de Jean-Baptiste Vuillaume de 1843.</p>
        <h4>Laure Favre-Kahn</h4>
        <p>Laure Favre-Kahn étudie le piano au Conservatoire d’Avignon, puis entre au Conservatoire National Supérieur de Musique de Paris, dans la classe de Bruno Rigutto, où elle obtient, à 17 ans, un Premier Prix à l’unanimité.</p>
        <p>A vingt ans, elle enregistre son premier disque chez Arion, consacré à Schumann, suivi l’année d’après d’un enregistrement Chopin.En janvier 1999, elle se produit au Midem à Cannes, dans le cadre des Révélations Classiques de l’ADAMI. Depuis, elle se produit régulièrement en France, en Europe, aux États-Unis et en Asie, en récital ou en musique de chambre, notamment avec le violoniste Nemanja Radulovic.</p>
        <p>Elle a joué pour plusieurs festivals importants : Auvers sur Oise, Orange (Chorégies), Bagatelle (Chopin Festival), Antibes (Festival des Jeunes Solistes), Evian (Rencontres Musicales), Reims (Les Flâneries Musicales), Paris (TransClassiques), Montpellier (Festival de Radio France), Rocamadour (Les Eclectiques), Nohant (Rencontres Internationales Chopin), Fénétrange etc.</p>
        <p>Laure Favre-Kahn est invitée par de nombreux orchestres, dont l’Orchestre Symphonique de Nancy, l’Orchestre Symphonique Français, l’Ensemble Orchestral de Normandie, l’Orchestre de Cannes, l’Orchestre Philharmonique de Monte-Carlo, l’Ensemble Orchestral de Paris, le Hong Kong Sinfonietta, l’Orchestre de la Philharmonie Nationale de l’Ukraine (Kiev), l’Orchestre Colonne, l’Orchestre de Bretagne, l’Orchestre de l’Opéra de Rouen, l’Orchestre Lamoureux, l’Orchestre des Pays de Savoie, l’Orchestre de Bordeaux, l’Orchestre Philharmonique de Strasbourg, l’Orchestre National d’Ile de France, l’Orchestre d’Auvergne, mais également, en Allemagne, en Turquie (avec orchestre et en récital), en Suisse, etc.</p>
        <p>On a pu l’entendre sur France Musique, France Info, RTL, France Culture et dans l’émission de Frédéric Lodéon sur France Inter. Alain Duault l’a également invitée à participer à son intégrale Chopin sur France 3 et plus récemment, dans son émission “Toute la musique qu’ils aiment”. Les chaînes de télévisions Mezzo, LCI et France 3 ont diffusé certains de ses concerts.</p>
        <p>En mai 2001, elle remporte le 1er Prix à l’unanimité du Concours International Pro Piano à New York, et donne un récital au Carnegie Recital Hall en octobre de la même année. Suite à ce concert, elle est nommée Pro Piano Artist of the Year et enregistre en 2003 un disque consacré à Reynaldo Hahn, pour Pro Piano Records à New York (salué par la critique du New York Times).</p>
        <p>Depuis 2003 Laure Favre-Kahn enregistre en live pour le label TransArt Live. Son premier disque, consacré à Rachmaninov, est suivi de l’intégrale des Valses de Chopin (Classique d’Or RTL), puis d’un récital dédié au compositeur américain Louis-Moreau Gottschalk (également Classique d’Or RTL).</p>
        <p>L’année 2008 marque pour elle la sortie de son premier enregistrement avec orchestre, dans le Premier Concerto de Tchaïkovski et le Second Concerto de Chopin avec l’Orchestre de Bretagne, sous la direction de Grzegorz Nowak. En novembre 2009, un disque Chopin (Préludes et Polonaises) pour le label TransArt Live. Elle vient de sortir le concerto de Schumann, également avec l’Orchestre de Bretagne et Grzegorz Nowak, toujours pour le label TransArt Live.</p>
        <p>Depuis novembre 2004, elle est Marraine de l’association Caméléon, qui protège les enfants des rues aux Philippines.</p>
        <h4>L’Académie Menuhin</h4>
        <p>Fondée en 1977 à Gstaad par le violoniste Yehudi Menuhin, l’Académie Menuhin (IMMA) est mondialement réputée dans le domaine de la formation des cordes. Elle forme et accueille depuis plus de trente ans, de jeunes violonistes talentueux venant du monde entier pour un enseignement post grade. Elle s’est installée maintenant à Coppet et les jeunes violonistes y suivent un cursus de trois ans</p>
        <p>L’orchestre de l’académie, la Camerata Menuhin, se produira aux Variations Musicales avec Nemanja Radulovic et Laure Favre Kahn.</p>
        <iframe src="http://www.youtube.com/embed/le41lDzTfUA" frameborder="0" width="560" height="315"></iframe>
      </div>
    </div>
  </div>
</div>
</div>