<% provide(:title, "Oph") %>
  <div class="title-row">
    <div class="row">
      <div class="span6">
         <h3>Ophélie Gaillard</h3>
      </div>
      <div class="span6">
        <p class="lead">Vendredi 31 août 20h.30 dans le parc du château de Tannay</p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span6">
        <ul class="thumbnails">
          <li class="span6">
            <img src="http://www.musicales-tannay.ch/uploads/images/Gallery/2012_artistes/2_OGaillard-CDoutre15.JPG">
          </li>
        </ul>
      </div>
      <div class="span6">
        <p>« Si le dessin est d’une précision calligraphique, le geste souple, direct, emporte l’auditeur dans des mouvements qui ont la fluidité d’un torrent de montagne. » pouvait-on lire dans le magazine Diapason de juin 2011, et la presse anglo-saxonne, en particulier le Times, saluait son « doigté de magicienne, un grand cœur lyrique et un kaléidoscope de couleurs. »</p>
        <p>Avec un esprit d’une curiosité insatiable, cette interprète franco-helvétique aborde tout le répertoire du violoncelle concertant avec un esprit très ouvert. Elle est lauréate de plusieurs concours internationaux, notamment du concours Bach de Leipzig en 1998. Élue par un large public ‘’Révélation Soliste Instrumentale’’ aux Victoires de la Musique Classique en 2003, elle se produit depuis lors en récital dans les salles telles que le Concertgebouw de Bruges et d’Amsterdam, le Bozart et Place Flagey à Bruxelles, les théâtres de Bordeaux, d’Avignon, de Poissy, d’Aix- en-Provence et du Châtelet, le Oji Hall de Tokyo et le Wigmore Hall de Londres. </p>
        <p>Ophélie Gaillard joue également en soliste avec de grands orchestres notamment: le Japan Philarmonic, le Royal Philarmonic Orchestra, l’Orchestre de la Radio polonaise et de la Radio de Bucarest, l’Orchestre Franz Liszt de Budapest, l’Orchestre de Chambre de Moscou. Dès son plus jeune âge, elle se spécialise dans la pratique du violoncelle baroque et fonde en 2005 Pulcinella, un collectif de virtuoses, tous passionnés comme elle par l’interprétation sur instruments historiques. Elle est aussi l’interprète privilégiée de compositeurs actuels, chez lesquels elle suscite des créations. Elle se distingue régulièrement dans la presse pour ses interprétations et a reçu, pour ses enregistrements, de hautes récompenses discographiques, (Diapason d’Or, Choc du Monde de la musique).</p>
        <p>Titulaire du certificat d’aptitude de violoncelle et de la licence de musicologie de la Sorbonne, Ophélie Gaillard est une pédagogue recherchée. Elle donne régulièrement des master classes en Asie, en Amérique, en France. En 2010, elle a été invitée à faire partie du jury du concours de violoncelle de l’ARD de Münich. On peut l’entendre régulièrement sur les ondes des radios spécialisées ou la voir sur les grandes chaînes françaises.</p>
        <p>Ophélie Gaillard joue un violoncelle de Francesco Goffriller 1737.</p>
        <h4>Jonathan Haskell</h4>
        <p>Natif des rives d’un autre grand lac (Michigan), Jonathan Haskell est diplômé de l’Université de Chicago (études de langue française) et de l’Université de Yale (études de direction avec Otto-Werner Müller). En 1973, il est le plus jeune membre de l’Orchestre symphonique de Bâle. Il est membre de l’Orchestre de la Suisse romande depuis 1978 et se produit régulièrement avec l’Ensemble Contrechamps. Pour accompagner Ophélie Gaillard, il dirigera l’Orchestre du Festival, composé de musiciens de l’OSR, qui accompagnait, déjà l’année dernière, Mélodie Zhao aux Variations Musicales de Tannay.</p>
        <iframe src="http://www.youtube.com/embed/poCw2CCrfzA" frameborder="0" width="560" height="315"></iframe>
      </div>
    </div>
  </div>
</div>
</div>