  <% provide(:title, 'Presse') %>
  <div class="main-row">
    <div class="row">
      <div class="span3">
         <h3>LES VARIATIONS DANS LA PRESSE</h3>
      </div>
      <div class="span9">
        <p class="lead">Cette page vous permet de consulter un choix d'articles concernant les Variations Musicales de Tannay. Les articles les plus récents figurent en premier.</p>
        <p class="lead">Nos amis journalistes qui souhaitent prendre contact avec l'association des « Variations Musicales de Tannay » peuvent nous contacter au +41 79 662 54 05 ou à l'adresse <%= mail_to ('presse@musicales-tannay.ch')%>.</p>
      </div>
    </div>
    <div class="row">
      <div class="span3">
      </div>
      <div class="span9">
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span3">
        <a href="#" class="thumbnail">
          <%= image_tag "1Presse260.jpg" %>
        </a>
      </div>
      <div class="span9">
        <dl class="dl-horizontal">
          <dt>
            Espace 2
          </dt>
          <dd>
            Ophélie Gaillard sur l'émission « Magma » du jeudi 30 août 2012, « Festival de musique classique de la Côte »<br />» <a href="http://www.rts.ch/espace-2/programmes/magma/4203415-magma-du-30-08-2012.html">Écouter sur rts.ch</a>
          </dd>
          <dt>
            Marie Claire Suisse
          </dt>
          <dd>
            août 2012 : « sorties en Romandie, festivals » <br />» <a href="http://www.auvernierjazz.ch/pdf/MC_2012.pdf">Afficher</a>
          </dd>
          <dt>
            La Côte
          </dt>
          <dd>
            jeudi 16 août 2012 : « Babar s'invite au festival » <br />» <a href="http://www.lacote.ch/fr/regions/terre-sainte/babar-s-invite-au-festival-585-1011394">Afficher</a>
          </dd>
          <dt>
            La Côte
          </dt>
          <dd>
            jeudi 16 août 2012 : « Babar s'invite au festival » <br />» <a href="http://www.lacote.ch/fr/regions/terre-sainte/babar-s-invite-au-festival-585-1011394">Afficher</a>
          </dd>
          <dt>
            Le Temps
          </dt>
          <dd>
            5 juillet 2012 <br />» <a href="http://www.sortir.ch/musique/event.T.109796-variations-musicales-de-tannay?tsr=true">Afficher</a>
          </dd>
          <dt>
            La Côte
          </dt>
          <dd>
            lundi 29 août 2011 : « Concerts de haute tenue aux Variations musicales »
          </dd>
          <dt>
            Espace 2
          </dt>
          <dd>
            émission « Dare-Dare » du vendredi 26 août 2011, « Variations Musicales de Tannay »<br />» <a href="http://www.rsr.ch/#/espace-2/programmes/dare-dare/?date=26-08-2011">Écouter sur rsr.ch</a>
          </dd>
          <dt>
            Espace 2
          </dt>
          <dd>
            émission « Les Matinales » du vendredi 26 août 2011, « Le coup de fil d'actualité » : interview d'Alexandre Tharaud<br />» <a href="http://www.rsr.ch/#/espace-2/programmes/matinales/?date=26-08-2011">Écouter sur rsr.ch</a>
          </dd>
          <dt>
            RSR – La 1ère
          </dt>
          <dd>
            émission « Aqua-Concert » du lundi 22 août 2011<br />» <a href="http://www.rsr.ch/#/la-1ere/programmes/aqua-concert/?date=22-08-2011">Écouter sur rsr.ch</a>
          </dd>
          <dt>
            24 heures
          </dt>
          <dd>
            jeudi 18 août 2011 : « La musique classique s’invite à Tannay »<br />» <a href="http://www.24heures.ch/musique-classique-invite-tannay-2011-08-18">Version en ligne</a>
          </dd>
          <dt>
            sortir.ch
          </dt>
          <dd>
            août 2011, rubrique « Nos choix » (en page d'accueil)<br />» <a href="http://www.musicales-tannay.ch/uploads/images/presse/sortir.ch.html">Afficher</a>
          </dd>
          <dt>
            Tribune de Genève
          </dt>
          <dd>
            lundi 27 juin 2011 : « La musique classique se déguste aussi en Suisse / Autour du St Prex Classics, le festival qui monte, le tour des bonnes adresses estivales »
          </dd>
          <dt>
            24 heures
          </dt>
          <dd>
            jeudi 28 avril 2011 : « Le piano à l'honneur des Variations de Tannay »<br />» <a href="http://www.musicales-tannay.ch/uploads/images/presse/24h-28042011.html">Afficher</a>
          </dd>
          <dt>
            La Côte
          </dt>
          <dd>
            vendredi 15 avril 2011 : « De grands pianistes invités aux Variations musicales »<br /> » <a href="http://www.musicales-tannay.ch/uploads/images/presse/lacote-15042011.html">Afficher</a>
          </dd>
          <dt>
            RSR – La 1ère
          </dt>
          <dd>
            émission « Dare-Dare » du vendredi 27 août 2010<br /> » <a href="http://www.rsr.ch/#/espace-2/programmes/dare-dare/?date=27-08-2010">Écouter sur rsr.ch</a>
          </dd>
          <dt>
            RSR – La 1ère
          </dt>
          <dd>
            émission « Dare-Dare » du vendredi 27 août 2010<br /> » <a href="http://www.rsr.ch/#/espace-2/programmes/dare-dare/?date=27-08-2010">Écouter sur rsr.ch</a>
          </dd>
          <dt>
            La Côte
          </dt>
          <dd>
            jeudi 26 août 2010 : « Deux jours de musique classique et baroque dans la cour du château »<br /> » <a href="http://www.musicales-tannay.ch/uploads/images/presse/26082010.html">Afficher</a>
          </dd>
          <dt>
            Le Courrier
          </dt>
          <dd>
            jeudi 26 août 2010 : « Tannay compose ses Variations Musicales »<br /> » <a href="http://www.musicales-tannay.ch/uploads/images/presse/lecourrier-26082010.html">Afficher</a>
          </dd>
          <dt>
            20 Minutes
          </dt>
          <dd>
            mercredi 25 août 2010 : « Du classique dans un décor idyllique »<br /> » <a href="http://www.musicales-tannay.ch/uploads/images/presse/20min-25082010.html">Afficher</a>
          </dd>
          <dt>
            La Côte
          </dt>
          <dd>
            mercredi 26 mai 2010 : « La musique classique a son festival »<br /> » <a href="http://www.musicales-tannay.ch/uploads/images/presse/26052010.html">Afficher</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>