<% provide(:title, "L'association") %>
  <div class="main-row">
    <div class="row">
      <div class="span3">
         <h3>STATUS</br>
        <small>Association des « Variations Musicales de Tannay »</small></h3>
      </div>
      <div class="span9">
        <p class="lead">Dénomination : Sous le nom de « Variations Musicales de Tannay », est créée une Association à but non lucratif au sens des articles 60 et suivants du Code Civil Suisse.</p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span3">
        <h3>LE COMITÉ</h3>
      </div>
      <div class="span9">
          <ul class="unstyled">
            <li>
              <p class="lead">Serge Schmidt, président</p>
            </li>
            <li>
              <p class="lead">Françoise de Courten, vice-présidente</p>
            </li>
            <li>
              <p class="lead">Walter Hauser, trésorier</p>
            </li>
            <li>
              <p class="lead">Doris Marmy</p>
            </li>
            <li>
              <p class="lead">André Métrailler</p>
            </li>
            <li>
              <p class="lead">Karl Agust Valfells, webmaster</p>
            </li>
            <li>
              <p class="lead">Catherine Anne Fernandez</p>
            </li>
            <li>
              <p class="lead">Béatrice Fournier</p>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span3">
      </div>
      <div class="span9 offset3">
        <h3>Art.  1.  Siège</h3>
        <p>Le Siège de l'Association des « Variations Musicales de Tannay »  est à Tannay (1295 Vaud).</p>
        <p>Son siège peut-être déplacé n’importe où en Suisse sur proposition du Comité de Direction ratifiée par l’Assemblée Générale.</p>
        <h3>Art.  2.  Durée</h3>
        <p>L'Association est créée pour une durée indéterminée.</p>
        <h3>Art.  3.  But</h3>
        <p>L'Association des « Variations Musicales de Tannay » a notamment pour but de:</p>
        <ol class="alpha">
          <li>Promouvoir la musique classique dans la région Terre Sainte et au-delà</li>
          <li>Organiser des concerts estivaux de qualité sous forme de festival annuel nommé « Variations Musicales de Tannay » </li>
          <li>Faire bénéficier un public varié d'un programme de musique classique éclectique.</li>
          <li>Offrir à un jeune public l'occasion de se familiariser avec la musique classique</li>
        </ol>
        <p>L'Association des « Variations Musicales de Tannay », dont l’activité est entièrement bénévole, déclare que:</p>
        <ul>
          <li>les fonds de l'Association seront affectés au but décidé ci-dessus, et</li>
          <li>qu'elle renonce à distribuer des dividendes ou tantièmes, ou</li>
          <li>à faire un paiement en retour à des donateurs ou fondateurs.</li>
        </ul>
        <h3>Art. 4.  Membres</h3>
        <p>Peuvent être membres de l'Association des « Variations Musicales de Tannay »  toutes personnes physiques ou morales qui adhèrent au but de l'Association et qui paient une cotisation.</p>
        <p>La qualité de membre est ensuite acquise après paiement des cotisations.</p>
        <p>Les obligations et droits d’un membre s’éteignent :</p>
        <ol class="alpha">
          <li>Par sa démission, qui peut être remise pour la fin de l’exercice en cours</li>
          <li>Par son exclusion, prononcée par l’Assemblée Générale sur proposition du Comité de Direction.</li>
          <li>Par suite de non paiement de deux cotisations annuelles</li>
        </ol>
        <h3>Art.  5.  Organes</h3>
        <p>Les organes de l'Association des « Variations Musicales de Tannay » sont</p>
        <ol class="alpha">
          <li>l’Assemblée Générale,</li>
          <li>le Comité de Direction et</li>
          <li>l’organe de contrôle.</li>
        </ol>
        <h3>Art.  6.  L'Assemblée Générale</h3>
        <p>L’Assemblée Générale est l’organe suprême de l'Association.</p>
        <p>Elle est normalement constituée si un cinquième des membres est présent (Quorum) ou représenté, avec un maximum de trois pouvoirs par personne</p>
        <p>L’Assemblée Générale ordinaire se réunit une fois par an. Des Assemblées extraordinaires seront convoquées par le Comité de Direction à la demande d’au moins un cinquième des membres ou sur décision dudit Comité de Direction.</p>
        <p>Les convocations sont envoyées par lettre ou par courriel avec communication de l’ordre du jour au moins deux semaines avant la date choisie pour la réunion.</p>
        <p>L’Assemblée Générale prend de plein droit toutes les décisions suivantes:</p>
        <ol class="alpha">
          <li>élection du Comité de Direction et de l’organe de contrôle</li>
          <li>approbation des rapports du Comité de Direction et les comptes et bilans annuels</li>
          <li>approbation du budget et la ratification du montant des cotisations</li>
          <li>nommer chaque année, en dehors du Comité de Direction, un contrôleur aux comptes</li>
          <li>prise de décisions sur des modifications de statuts</li>
          <li>se prononcer sur toutes propositions émanant du Comité de Direction ou d'un membre figurant à l'ordre du jour.</li>
          <li>nomination de membres d’honneur</li>
        </ol>
        <p>Les décisions de l’Assemblée Générale sont prises à la majorité des suffrages exprimés, toutefois, concernant les modifications de statuts, la majorité requise est de 2/3. Les votations seront à scrutin ouvert, à moins que 4 membres demandent un vote à bulletin secret. Chaque membre dispose d’une voix, les personnes morales étant représentées par un délégué.</p>
        <h3>Art.  7.  Le Comité de Direction :</h3>
        <p>Le Comité de Direction est l'organe exécutif  de l'Association. Il a pour compétence de diriger l'Association dans le cadre des statuts et des décisions de l’Assemblée Générale, et de s'occuper des affaires courantes.</p>
        <p>Le Comité de Direction se compose de 5 à 8 membres. Le Comité de Direction se constitue lui-même. Il est composé au moins d’un Président, d'un vice-Président, d'un Trésorier, d'un Secrétaire et de son suppléant.</p>
        <p>La durée du mandat des membres du Comité de Direction est de trois ans. Les membres sont rééligibles.</p>
        <p>En particulier le Comité de Direction</p>
        <ol class="alpha">
          <li>Décide des projets à développer.</li>
          <li>Admet des nouveaux membres.</li>
          <li>Établit le budget annuel</li>
          <li>Tient les comptes de l'Association et les soumet à ratification de l'Assemblée Générale</li>
          <li>Propose le montant de la cotisation de membres et les soumet à ratification de l'Assemblée Générale</li>
          <li>Organise la collecte de fonds et met en route des actions à cette fin</li>
          <li>Convoque l'Assemblée Générale et établit son ordre du jour</li>
          <li>Propose des changements de statuts à l'Assemblée Générale.</li>
        </ol>
        <h3>Art.  8.  Réunions du Comité de Direction</h3>
        <p>Le Comité de Direction se réunit autant de fois qu'il le juge nécessaire.</p>
        <p>Les membres du Comité de Direction disposent chacun d'une voix. Les décisions sont prises à la majorité des membres présents. En cas d’égalité, la voix du président est prépondérante.</p>
        <p>Les convocations aux séances de Comité de Direction sont faites par le président. </p>
        <h3>Art.  9.  Les commissions</h3>
        <p>Le Comité de Direction peut créer des commissions ad hoc qui répondent devant lui seul de leur activité et doivent au moins une fois par an lui faire un rapport et présenter leurs comptes.</p>
        <h3>Art.  10.  Organe de contrôle</h3>
        <p>L’organe de contrôle est composé de deux contrôleurs aux comptes.</p>
        <p>La durée de son mandat est de trois ans. Sa réélection est autorisée.</p>
        <h3>Art.  11.  Signature</h3>
        <p>L'Association des « Variations Musicales de Tannay » est valablement engagée par la signature collective du président ou du vice président avec celle d'un autre membre du Comité de Direction.</p>
        <h3>Art.  12.  Responsabilité des membres</h3>
        <p>Les engagements et les responsabilités de l'Association des « Variations Musicales de Tannay » sont uniquement garantis par l'actif social.</p>
        <p>Les membres et le Comité de Direction n’assument aucune responsabilité personnelle ni obligation de versements complémentaires pour les engagements pris par l'Association.</p>
        <h3>Art.  13.  Ressources</h3>
        <p>Les recettes de l'Association des « Variations Musicales de Tannay » sont constituées :</p>
        <ul>
          <li>Par les cotisations des membres</li>
          <li>Par des recettes de manifestations organisées</li>
          <li>Par  les produits des actions proposées par le Comité de Direction</li>
          <li>Par des recettes publicitaires</li>
          <li>Par un soutien de la commune et d'autres appuis institutionnels</li>
          <li>Par des dons, legs ou contributions de donateurs</li>
        </ul>
        <p>La cotisation est proposée par le Comité de Direction et ratifiée par l'Assemblée Générale</p>
        <h3>Art.  14.  L'exercice social</h3>
        <p>L’exercice social correspond à l’année civile.</p>
        <h3>Art.  15.   Dissolution</h3>
        <p>La dissolution de l'Association des « Variations Musicales de Tannay » peut être prononcée uniquement en Assemblée Générale. La majorité des deux tiers des membres présents est requise.</p>
        <p>En cas de dissolution, l’actif éventuel restant sera remis à une institution suisse et exonérée des impôts en raison de son but d’utilité piblique ou de service publique. Il peut être également attribué à la Confédération, aux cantons, aux communes et à leurs établissements. Il ne doit en aucun cas revenir à unbmembre de l’entité.</p>
        <p> </p>
        <p>Ces statuts ont été adoptés par le Comité de Direction en sa réunion du 02 février 2010,ratifiés lors de l'Assemblée Générale Constitutive du même jour, puis amendés et validés, sur proposition du comité, lors de l’Assemblée générale du 14 mars 2013.</p>
        <p>Le Président <span style="padding-left: 300px;">Le Vice Président</span></p>
        <p style="margin-bottom: 3em;"><em>(signatures)</em></p>
      </div>
    </div>
  </div>
</div>
</div>