  <% provide(:title, 'Paiement') %>
  <div class="main-row">
    <div class="row">
      <div class="span3">
         <h3>SUCCÈS</h3>
      </div>
      <div class="span9">
        <p class="lead">Votre paiement à été enregistré avec succès</p>
      </div>
    </div>
    <div class="row">
      <div class="span3">
      </div>
      <div class="span9">
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span3">
        <a href="#" class="thumbnail">
          <%= image_tag "1Presse260.jpg" %>
        </a>
      </div>
      <div class="span9">
        <p class="lead">Un courrier éléctronique avec la facture à été envoyé à <%= mail_to (@order.email)%>. Nous vous prions de l'avoir soit imprimée soit accèssible sur votre smartphone lors des concerts</p>
        <p class="lead">En cas de problème, n'hésitez pas à nous contacter à <%= mail_to ('billetterie@musicales-tannay.ch')%>.</p>
      </div>
    </div>
  </div>
</div>
</div>