<% provide(:title, "Photos") %>


  <div class="main-row">
    <div class="row">
      <div class="span3">
         <h3>PHOTOS</h3>
      </div>
      <div class="span9">
        
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row">
      <div class="span3">
        <h3>2013</h3>
      </div>
    </div>
    <% Photo.select(:gallery).distinct.each do |f| %>
      <% @gallery=Photo.where('gallery' => f.gallery) %>
      <% @gallery.each_slice(6) do |row| %>
        <div class="row-fluid">
          <ul class="thumbnails">
          <% row.each do |pic| %>
            <li class="span2">
              <a class="thumbnail" rel="<%=@gallery.name%>" href="<%=pic.image.url%>">
                <%= image_tag pic.image.url(:thumb) %>
              </a>
            </li>
          <%end%>
          </ul>
        </div>
      <%end%>
    <%end%>
    </div>
  </div>