@import "bootstrap";

body { 
  padding-top: 4%;
@import "bootstrap-responsive";
	}

.btn.btn-primary {
  width: 100%; 
}


$linkColor: #C33;
$darklinkColor: #8f2424;

.lone-row {
	border-top-style:solid;
	border-top-color: $darklinkColor;
	border-top-width:1px;
	border-bottom-style:solid;
	border-bottom-color: $darklinkColor;
	border-bottom-width:1px;
	padding-top:10px;
	
}

.main-row {
	border-bottom-style:solid;
	border-bottom-color: $darklinkColor;
	border-bottom-width:1px;
	padding-top:10px;
	
}

a {
	color: $linkColor;
	&:link{
    color: $linkColor;
  }
	 &:active, &:hover {
    color: $darklinkColor;
  }

}

h3 {
	font-size:22px;
	margin:0 0 10px
	}

.red {
	color: #C33;
	font-weight:normal;
	letter-spacing: 0px;
	font-size: 18px;
	text-align:center;

}

.date {
	color: #C33;
	font-weight:normal;
	letter-spacing: 0px;
	font-size: 18px;
	text-align:left;

}


.sub-row {
	padding-bottom:30px;
}

.music{
	font-family: Georgia;
	font-style: italic;
	font-size:20px;
	li {line-height:30px}
	padding-top:5px;
	padding-bottom:10px;
}



.hlink {
	color: #333;
	&:hover {color:$darklinkColor;}
	&:link {color:#333;}
}

