
  <footer class="footer">
    <div class="main-row">
      <div class="row">
        <div class="span12">
          <h3 style="float:left">Avec le soutien de</h3>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <%= image_tag("http://photos.musicales-tannay.ch/VMT_sponsors_2016.jpg") %>
        </div>
      </div>
    </div>
    <div class="container">
    <nav>
      <ul class="nav">
      	<li>
        	<small class="pull-right">
         		© 2004-2015 Variations Musicales de Tannay. Karl Agust Valfells
        	</small>
        </li>
      </ul>
    </nav>
  </div>
  </footer>
