
  <footer class="footer">
    <div class="container">
    <nav>
    <ul>
    	<li>
      		<small class="span12 pull-right" style="text-align:right">
       			© 2004-2012 Variations Musicales de Tannay. Karl Agust Valfells
      		</small>
      	</li>
    </ul>
    </nav>
</div>
  </footer>
