
  <footer class="footer">
    <div class="container span12">
    <nav>
      <ul>
      	<li>
        	<small>
         		© 2004-2012 Variations Musicales de Tannay. Karl Agust Valfells
        	</small>
        </li>
      </ul>
    </nav>
  </div>
  </footer>
