
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse pull-right">
        <ul class="nav" style="align:right">
          <li class= "" >
          <a href=www.musicales-tannay.ch>Accueil</a>
          <li class= "" >
          <a href="www.musicales-tannay.ch/programme/programme-2017">Programme</a></li>
          <li class= "active" >
          <%=link_to("Billetterie", billetterie_path) %></li>
          <li class= "" >
          <a href="www.musicales-tannay.ch/en-images">En Images</a>
          <li class= "" >
          <a href="www.musicales-tannay.ch/l-association/partenaires-amis">Association</a>
          <li class= "" >
          <a href="www.musicales-tannay.ch/presse">Presse</a>
          <li class= "" >
          <a href="www.musicales-tannay.ch/newsletter">Newsletter</a>
          <li class= "" >
          <a href="www.musicales-tannay.ch/contact">Contact</a>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
</header>
  <div class="container">
  <div class="row" style="padding-bottom:30px">
      <div class="span3">
        <%= image_tag "vmt_logo_2014_270.png", :stlye => "position:center" %>
      </div>
      <div class="span9">
        
      </div>
      <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-follow" data-href="https://www.facebook.com/musicalestannay" data-show-faces="false" data-width="500"></div>
    </div>
  </div>
  <script>
    $('.carousel').carousel()
  </script>

